/* navbar.css */

.navbar{

  background:linear-gradient(
    to right,
    #7c2d12,
    #ea580c,
    #be185d
  );

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:18px 40px;

  flex-wrap:wrap;

  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* LOGO */

.logo{

  color:white;

  font-size:30px;

  font-weight:bold;

  letter-spacing:0.5px;

  animation:fadeLeft 1s ease;
}

/* LINKS */

.nav-links{

  display:flex;

  gap:22px;

  flex-wrap:wrap;
}

.nav-links a{

  color:white;

  text-decoration:none;

  font-size:16px;

  font-weight:bold;

  transition:0.3s;

  position:relative;
}

/* HOVER */

.nav-links a:hover{

  color:#ffe4e6;

  transform:translateY(-3px);
}

.nav-links a::after{

  content:"";

  position:absolute;

  left:0;

  bottom:-5px;

  width:0;

  height:2px;

  background:white;

  transition:0.3s;
}

.nav-links a:hover::after{

  width:100%;
}

/* ANIMATION */

@keyframes fadeLeft{

  from{
    opacity:0;
    transform:translateX(-30px);
  }

  to{
    opacity:1;
    transform:translateX(0);
  }
}

/* RESPONSIVE */

@media screen and (max-width:768px){

  .navbar{

    flex-direction:column;

    gap:18px;

    text-align:center;
  }

  .nav-links{

    justify-content:center;
  }
}